<!DOCTYPE html>
<!--
Who Wants to Be a Millionaire Quiz Game Markup
Intended to Play a Single Game.
WWBAM materials used under fair use for academic/scholar use, should not be
distributed otherwise.

Author: Aaron Nech
-->
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{{ static_url('css/style_s2.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
	</head>
	<body>
        <p class="texto">Debes presionar este botón para poder responder</p>
		
		<button id="respond" class="respond">
            <span class="big-text-respond">Responder</span>
        </button>
        
        <p class="texto">Alternativa "a": Levanta tu brazo izquierdo</p>
        <p class="texto">Alternativa "b": Levanta tu brazo derecho</p>
        <p class="texto">Alternativa "c": Levanta ambos brazos</p>
        <p class="texto">Alternativa "d": </p>

		<!-- Script inclusion: JQuery for effects, Knockout for MVVM, millionaire.js for application -->
		<script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/knockout-3.0.0.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/millionaire_s2.js') }}"></script>
		<script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
		<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
		<!--
		<script type="text/javascript" type="text/javascript">
		  // Connecting to ROS
		  // -----------------
		  console.log("Trying to create topic");
		  var ros = new ROSLIB.Ros({
		    url : 'ws://localhost:9090'
		  });

		  ros.on('connection', function() {
		    console.log('Connected to websocket server.');
		  });

		  ros.on('error', function(error) {
		    console.log('Error connecting to websocket server: ', error);
		  });

		  ros.on('close', function() {
		    console.log('Connection to websocket server closed.');
		  });

		  // Subscribing to a Topic
		  // ----------------------

		  var listener = new ROSLIB.Topic({
		    ros : ros,
		    name : '/listener',
		    messageType : 'std_msgs/String'
		  });

		  listener.subscribe(function(message) {
		    console.log('Received message on ' + listener.name + ': ' + message.data);
		    document.getElementById("detected_answer").innerHTML = message.data;
		    $("input").change();
		  });
	  	</script>-->
	</body>
</html>
