<!DOCTYPE html>
<!--
Who Wants to Be a Millionaire Quiz Game Markup
Intended to Play a Single Game.
WWBAM materials used under fair use for academic/scholar use, should not be
distributed otherwise.

Author: Aaron Nech
-->
<html>
	<head>
		<link href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{{ static_url('css/style_s2.css') }}" />
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
	</head>
	<body>
        <p class="texto">Debes presionar este botón para poder responder</p>
		
        <div id="tutorial">
		<button id="respond" class="respond">
            <span class="big-text-respond">Responder</span>
        </button>
        </div>
        
        <p class="texto">Alternativa "a": Levanta tu brazo izquierdo</p>
        <p class="texto">Alternativa "b": Levanta tu brazo derecho</p>
        <p class="texto">Alternativa "c": Levanta ambos brazos</p>
        <p class="texto">Alternativa "d": </p>

		<!-- Script inclusion: JQuery for effects, Knockout for MVVM, millionaire.js for application -->
		<script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/knockout-3.0.0.js') }}"></script>
	
	</body>
</html>
